# Task 1 of CODSOFT INTERNSHIP PROGRAM

In [5]:
#IMPORT LIBRARAY
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#loading data
df=pd.read_csv('iris.csv')

In [7]:
#shape
df.shape

(150, 5)

In [9]:
#sample
df.sample(5)

    sepal_length  sepal_width  petal_length  petal_width          species
70           5.9          3.2           4.8          1.8  Iris-versicolor
57           4.9          2.4           3.3          1.0  Iris-versicolor
18           5.7          3.8           1.7          0.3      Iris-setosa
93           5.0          2.3           3.3          1.0  Iris-versicolor
47           4.6          3.2           1.4          0.2      Iris-setosa

In [11]:
#checking null value
df.isnull().sum()
#there is no any null value

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [13]:
df.columns
#it give the name of columns in dataset

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [15]:
#getting the short pverview
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [17]:

df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# visulization

## feature en\gineering